
body{
     background-color: #0A192F;
    
     /* background-color: #fff; */
}.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
 
  /* width: 50%; */
}
.videoBox{
    border: 10px solid #fff;
}
.fixed-header
{
width: 100%;
height: 5%;
position: fixed;
background: #333;
padding: 20px 0;
color: #fff;
top: 0;
margin-right: 0px;
margin-left: 0px;
margin-top: 0px;
margin-bottom: 0px;

}
.container{
margin-right: 0px;
margin-left: 0px;
width: 100%;
margin: 0 auto;
}
nav{
color: #fff;
padding: 7px 25px;
display: inline-block;
}
div{
margin-right: 0px;
margin-left: 0px;
}