<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="{{url_for('static',filename='styles.css')}}"
        />
        <title>Welcome to APP</title>
    </head>
  
    <body>
        <div class="fixed-header">
            
                <h1 style="text-align: center; padding-bottom: 8px;">Welcome to gender predictor APP</h1>
            
        </div>
        {% block content %} {% endblock %}
    </body>
</html>
