{%extends "base.html"%}
{%block content%}
    <h1 style="text-align: center;position: fixed; top: 22%; margin-left: 41%; color:#64FFDA">Video Feed</h1>
    
    <img src="{{url_for('video_feed')}}" alt="Video Feed" class="center videoBox">

    <!-- <p>Rishi</p> -->
    {%endblock%}